<table class="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Type</th>
      <th class="actions">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%= render custom_fields %>
  </tbody>
</table>
