<div class="container container-main">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Domaines</li>
      </ol>

      <%= link_to 'Ajouter un domaine', new_admin_field_path, :class => 'btn btn-primary pull-right btn-new' %>

      <% if @fields.any? %>
        <table class="table">
          <thead>
            <tr>
              <th>Nom</th>
              <th class="actions">Actions</th>
            </tr>
          </thead>

          <tbody>
            <%= render @fields %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
