#admin-custom_fields-new,
#admin-custom_fields-create,
#admin-custom_fields-edit,
#admin-custom_fields-update, {
  .form-control-no-input {
    padding: 7px 0px;
  }

  fieldset {
    legend {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .enum-options {
    padding: 20px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;

    table.table.table-striped {
      tfoot {
        td {
          border-top: none;
        }
      }
    }

    .actions {
      width: 80px;
    }

    tfoot {
      .actions {
        .btn {
          line-height: 30px;
          padding-left: 10px;
          padding-right: 10px;
          font-size: 13px;
        }
      }
    }
  }
}
