#item_imports-new,
#item_imports-create {
  .row-fluid {
    margin-left: 0px;
    margin-right: 0px;
  }

  .panel {
    margin-top: 20px;
    background-color: white;
  }

  .alert {
    ul {
      list-style-type: none;
      padding-left: 0px;
    }
  }

  .notice {
    padding: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: whitesmoke;

    p {
      margin-bottom: 0px;
    }
  }

  fieldset {
    input {
      border: 0px;
      box-shadow: none;
      padding-top: 8px;
      line-height: 16px;
    }
  }

  table.import-preview {
    font-size: 12px;

    thead {
      th {
        vertical-align: top;
      }
    }

    td {
      .found {
        color: green;
      }

      .not-found {
        color: orange;
      }

      .fa {
        margin-left: 2px;
        color: #bbbbbb;
      }
    }

    tr.duplicate {
      background-color: #fff0f0;
    }

    tr.duplicate-warning {
      background-color: #fff0f0;
      font-size: 10px;
      color: #ff3636;

      td {
        border-top: 0px;
        padding-top: 0px;
      }

      i.fa {
        color: #ffa1a1;
        font-size: 15px;
      }
    }
  }

  .actions {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 12px;

    .btn {
      margin-left: 6px;
    }
  }
}
