td.center,
th.center {
  text-align: center;
}

td.actions,
th.actions {
  text-align: right;
}

.breadcrumb {
  background-color: $brand-primary-dark;
  margin-top: 10px;

  li, li.active {
    color: white;

    a {
      color: #dadada;
    }

    a:hover {
      color: white;
    }
  }
}
