.breadcrumb {
  padding-left: 6px;
  background-color: white;
  margin-top: 10px;
  border-radius: 0px;
  font-weight: 500;
  font-size: 18px;

  li, li.active {
    //color: white;
    color: #444444;

    a, a:hover {
      color: #999999;
      //color: #dadada;
    }
  }
}
