.complete-search {
  position: fixed;
  height: 100%;
  right: 0px;
  top: 56px;
  z-index: 0;
  padding-bottom: 20px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  h3 {
    font-size: 14px;
    margin-top: 14px;
  }

  .saved-search {
    padding-top: 3px;

    .Select {
      width: 60%;
      float: left;
    }

    .btn {
      font-size: 13px;
      line-height: 36px;
      padding: 0 10px;
      margin-left: 8px;
    }
  }
}
