.right-sidebar {
  position: fixed;
  overflow-y: auto;
  z-index: 0;
  height: calc(100% - 56px);
  top: 56px;
  right: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  h3 {
    font-size: 14px;
    margin-top: 14px;
  }

  .saved-search {
    padding-top: 12px;

    .choice {
      float: left;
      margin-right: 16px;
      margin-top: 6px;

      label {
        font-weight: 400;
        margin-left: 2px;
      }
    }

    .actions {
      text-align: right;
      margin-top: 10px;

      button {
        margin-left: 12px;
      }
    }

    .list-mode {
      margin-bottom: 10px;
      text-align: right;

      .Select {
        width: calc(100% - 91px);
        float: left;
        text-align: left;
      }

      .btn {
        font-size: 13px;
        line-height: 33px;
        padding: 0 10px;
        margin-left: 8px;
        margin-top: 2px;
      }
    }
  }

  .advanced-search {
    label {
      line-height: 15px;
    }

    .Select {
      margin-top: -2px;
    }

    .form-group {
      height: 32px;
    }

    .active-filter {
      .active-filter-choices {
        padding-top: 4px;

        label {
          margin-right: 22px;
          margin-left: 2px;
          font-weight: normal;
          vertical-align: -1px;
        }
      }
    }

    .dates-filter {
      .dates-filter-pickers {
        padding-top: 4px;

        label {
          font-weight: normal;
        }
      }
    }
  }
}
