#devise-sessions-create,
#devise-sessions-new,
#devise-passwords-create,
#devise-passwords-new,
#devise-passwords-edit,
#devise-registrations-create,
#devise-registrations-new,
#passwords-edit,
#passwords-update,
#labs-index,
#modal-signin {
  .panel {
    margin-top: 50px;
    margin-bottom: 32px;
    opacity: 0.92;
    background-color: white;
    padding: 15px 0px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
  }

  h1 {
    font-size: 26px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 6px;
    padding-bottom: 18px;
    padding-left: 19px;
    padding-right: 19px;
//    border-bottom: 1px solid #e5e5e5;
  }

  label {
    font-weight: 500;
    color: #555555;
  }

  .form-group {
    padding-left: 19px;
    padding-right: 19px;
  }

  // radio's
  label.btn {
    text-align: left;
    display: block;
    float: none;
    border-radius: 0;
    padding: 10px 16px;

    img {
      padding: 0px;
      margin-right: 6px;
      border: 0px;
    }
  }

  label.btn.active {
    color: #fff;
    background-color: #F78F8D;
    border-color: #DD4E4A;
  }

  .alert {
    margin-right: 10px;
    margin-left: 10px;

    .close {
      top: 0px;
    }
  }

  .actions {
    text-align: right;
    padding-top: 16px;
    padding-left: 19px;
    padding-right: 19px;
    margin-top: 20px;
    //border-top: 1px solid #e5e5e5;

    .btn {
      margin-left: 6px;
    }
  }

  a.forgot-password {
    float: left;
    margin: 10px 0 0;
    color: #888888;
    font-size: 13px;
    line-height: 34px;
  }

  .actions-lg {
    .btn {
      letter-spacing: 2px;
    }
  }
}

#devise-sessions-create,
#devise-sessions-new,
#labs-index {
  .logo-container {
    text-align: center;

    img {
      width: 240px;
      height: 240px;
    }
  }

  .jumbotron {
    padding-top: 20px;

    .panel {
      margin-top: 0px;
    }
  }
}

#labs-index {
  h1 {
    margin-bottom: 0px;
  }

  .blank-slate {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0px;

    p {
      font-size: 15px;
      font-weight: 300;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;

    li {
      a {
        display: block;
        padding: 8px;
        padding-left: 26px;
        padding-right: 20px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        font-weight: 400;
      }

      a, a:active, a:focus {
        text-decoration: none;
      }
    }

    li:hover {
      background-color: #f5f5f5;

      a {
        color: #262626;
        text-decoration: none;
      }
    }

    li:focus, li:active {
      background-color: #2d63b1;

      a {
        color: white;
        text-decoration: none;

      }
    }
  }
}
