body {
  background-color: #eeeeee;
  font-family: 'Roboto', sans-serif;
}

.btn {
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 5px;
  height: 56px;
  padding: 19px;
  padding-left: 22px;
  padding-right: 22px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  height: inherit;
  letter-spacing: 0px;
}

.btn-primary {

}

.btn-secondary {
  background-color: #9ba0a4;
  color: #fff;
}

.modal-backdrop.in {
  opacity: 0.85;
}
