.navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 3;
  background-color: rgb(25,118,210);
  color: white;
  height: 56px;
  min-height: 56px;
  padding: 0 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;

  .navbar-header {
    margin-right: 40px;

    .navbar-brand {
      height: inherit;
      text-transform: uppercase;
      color: white;
      font-weight: 400;
      font-size: 18px;
      padding-top: 19px;
      padding-bottom: 17px;
    }
  }

  ul.nav.sections {
    li > a {
      text-transform: uppercase;
      color: white;
      font-weight: 400;
      font-size: 14px;
      padding-top: 18px;
      padding-bottom: 18px;
      transition: box-shadow .6s cubic-bezier(.25,.8,.25, 1), background-color .6s cubic-bezier(.25,.8,.25, 1);
    }

    li > a:hover {
      background-color: rgba(158,158,158,0.2);
    }

    li > a:active, li > a:focus {
      background-color: rgb(45, 99, 177);
    }

    li.selected > a {
      background-color: rgba(158,158,158,0.2);
    }
  }

  .user {
    li.dropdown {
      .divider {
        margin-top: 0px;
        margin-bottom: 0px;
      }

      > a {
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        font-size: 12px;
        padding-top: 18px;
        padding-bottom: 18px;
        transition: box-shadow .4s cubic-bezier(.25,.8,.25, 1), background-color .4s cubic-bezier(.25,.8,.25, 1);
      }

      > a:active, a:focus {
        background-color: rgb(45, 99, 177);
        color: white;
      }

      > a:hover {
        background-color: rgba(158, 158, 158, 0.2);
        color: white;
      }

      .dropdown-menu {
        right: 0px;
        left: inherit;

        > li > a {
          padding: 6px 16px;
        }
      }
    }

    li.dropdown.open {
      > a {
        background-color: rgb(45, 99, 177);
      }
    }

    .fa {
      margin-left: 2px;
    }
  }
}
