.items {
  margin-top: 32px;
  padding-left: 80px;
  padding-right: 80px;
  overflow:none;

  .loading {
    text-align: center;
    margin-top: -4px;
    margin-bottom: 22px;
  }

  .blank-slate {
    margin-top: 2px;
    text-align: center;
  }

  .item {
    position: relative;
    height: 60px;
    margin-bottom: 24px;
    background-color: white;
    box-shadow: 0px 0px 10px #dddddd;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25, 1), background-color .4s cubic-bezier(.25,.8,.25, 1);

    .picture {
      float: left;
      margin-left: 6px;
      margin-top: 5px;
      margin-right: 8px;

      .ReactFlipCard {
        width: 50px;
        height: 50px;
        outline: none;

        .ReactFlipCard__Flipper, .ReactFlipCard__Front, .ReactFlipCard__Back {
          outline: none;
        }
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 0px;
        padding: 0px;
      }

      img.back {
        -webkit-filter: brightness(60%); /* Chrome, Safari, Opera */
        filter: brightness(60%);
      }

      .fa-check {
        color: #cccccc;
        position: absolute;
        top: 11px;
        left: 13px;
        font-size: 27px;
      }
    }

    .activity {
      position: absolute;
      top: 5px;
      right: 4px;
      width: 12px;
      height: 12px;
      padding: 2px;
      border: 1px solid #e0e0e0;
      background-color: white;
      @include border-radius(50%);

      .activity-inside {
        width: 6px;
        height: 6px;
        background-color: white;
        @include border-radius(50%);
      }
    }

    .activity.active {
      .activity-inside {
       background-color: #777777;
      }
    }

    .infos {
      padding-top: 5px;

      .name {
        font-size: 22px;

        a {
          color: #696969;
        }
      }

      .links {
        font-size: 10px;
        margin-left: 6px;

        a {
          color: #808080;
          font-weight: 400;
        }
      }

      .associations {
        .association {
          border: 1px solid #aaaaaa;
          font-size: 8px;
          margin-left: 8px;
          padding: 2px 4px;
          vertical-align: 2px;
          color: #676767;
          transition: background-color .6s cubic-bezier(.25,.8,.25, 1);

          em {
            font-style: normal;
            transition: color .6s cubic-bezier(.25,.8,.25, 1);
          }
        }

        .association:hover {
          background-color: #f5f5f5;
          text-decoration: none;
          transition: background-color .6s cubic-bezier(.25,.8,.25, 1);

          em {
            color: #1976d2;
            font-weight: 400;
            font-style: normal;
            transition: color .6s cubic-bezier(.25,.8,.25, 1);
          }
        }
      }

      .tags {
        list-style-type: none;
        padding-left: 0px;
        margin-top: -4px;
        overflow: hidden;
        height: 22px;
        margin-right: 2px;

        .field, .tag {
          margin-right: 4px;
          background-color: #b3b3b3;
        }

        .tag {
          float: right;
          margin-top: 7px;
          padding-top: 2px;
          padding-bottom: 2px;
          padding-left: 2px;
          padding-right: 5px;

          .fa-times {
            margin-right: 3px;
            font-size: 0px;
            vertical-align: 2px;
            transition: all .6s cubic-bezier(.25,.8,.25, 1);
            cursor: pointer;
          }

          .fa-times:hover {
            color: #dddddd;
          }
        }

        .tag:hover {
          .fa-times {
            font-size: 8px;
            vertical-align: 0px;
            margin-left: 2px;
          }
        }
      }
    }

    .social {
      position: absolute;
      right: 22px;
      top: 1px;
      text-align: right;
      width: 50px;

      .fa {
        font-size: 14px;
        color: #666666;
        margin-left: 4px
      }

      .fa-facebook-square {
        color: #3b5998;
      }

      .fa-linkedin-square {
        color: #1985bc;
      }

      .fa-twitter-square {
        color: #1da1f2;
      }
    }
  }

  .item:hover {
    box-shadow: 0px 0px 20px #a8b9ca;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25, 1), background-color .4s cubic-bezier(.25,.8,.25, 1);
  }
}
