// shared between global history and user history
.log-entries {
  position: relative;
  margin-bottom: 36px;
  background-color: white;
  box-shadow: 0px 0px 10px #cccccc;
  padding: 12px;

  .actions {
    margin-top: 20px;
    text-align: right;

    .btn {
      margin-left: 12px;
    }
  }

  .center {
    text-align: center;
  }

  .display-log-entries {
    color: #1976d2;
    cursor: pointer;
  }

  h3 {
    margin-bottom: 14px;
    margin-top: 4px;
  }

  ul {
    margin-top: 10px;
    padding-left: 0px;
    list-style-type: none;

    li.no-history {
      text-align: center;
    }

    .action {
      margin-left: 16px;

      strong {
        color: #1976d2;
      }

      .text {
        float: left;
      }

      .ago {
        float: right;
        margin-right: 20px;
        font-size: 11px;
        padding-top: 5px;
      }
    }

    table.content {
      width: 88%;
      float: right;
      margin-top: 12px;
      margin-right: 20px;

      td:first-child {
        width: 33.33%
      }

      td:last-child {
        width: 66.66%;
      }

      ins, del {
        padding-top: 2px;
        padding-bottom: 2px;
      }

      ins {
        background-color:#bde6cc; // #dfd (github)
        text-decoration:none;
      }

      del {
        background-color:#FFC0C0; // #fdd (github)
        text-decoration:none;
      }
    }
  }
}
