.quick-search {
  background-color: #0144a4;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  .title {
    float: left;
    width: 122px;
    padding: 13px;
    padding-left: 17px;
    color: #ded8ff;
    text-transform: uppercase;
    font-size: 11px;
  }

  input {
    padding-left: 30px;
    width: 320px;
    margin-left: 11px;
    height: 28px;
    margin-top: 6px;
  }

  .glyphicon-search {
    position: absolute;
    top: 13px;
    left: 131px;
    color: #aaaaaa;
  }

  .fa-times {
    position: absolute;
    top: 13px;
    left: 423px;
    color: #777777;
    cursor: pointer;
  }

  .fa-cloud-download {
    position: absolute;
    font-size: 13px;
    top: 14px;
    color: whitesmoke;
    left: 463px;
    opacity: 0.9;
    cursor: pointer;

    &.disabled {
      color: #2c63b3;
    }
  }

  .fa-envelope-o {
    position: absolute;
    font-size: 13px;
    top: 14px;
    color: whitesmoke;
    left: 485px;
    opacity: 0.9;
    cursor: pointer;

    &.disabled {
      color: #2c63b3;
    }
  }

  .results {
    position: absolute;
    font-size: 11px;
    top: 13px;
    color: whitesmoke;
    left: 510px;
    opacity: 0.9;
  }

  .tags {
    position: absolute;
    font-size: 11px;
    top: 9px;
    color: whitesmoke;
    background-color: #0144a4;
    border: 1px solid #1976d2;
    left: 631px;
    @include user-select(none);

    > span {
      display: block;
      padding: 3px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;

      .fa {
        margin-left: 5px;
        vertical-align: -1px;
        font-size: 13px;
      }
    }

    ul.tags-menu {
      position: absolute;
      left: -1px;
      top: 23px;
      background-color: white;
      width: 196px;
      padding-left: 0px;
      list-style-type: none;
      z-index: 2;
      border: 1px solid #dddddd;
      border-radius: 3px;
      -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.15);
      -moz-box-shadow: 0 0px 12px rgba(0,0,0,0.15);
      box-shadow: 0 0px 12px rgba(0,0,0,0.15);

      li {
        padding: 0px;
        border-bottom: 0px;
      }

      li.tag-item {
        width: 100%;
        padding: 8px;
        border-bottom: 1px solid #dddddd;
        font-size: 12px;
        cursor: pointer;

        .name {
          float: left;
          width: 126px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .fa-check {
          display: block;
          visibility: hidden;
          float: right;
          margin-right: 5px;
          margin-top: 2px;
        }

        .color {
          display: block;
          float: left;
          vertical-align: middle;
          border-radius: 3px;
          width: 14px;
          height: 14px;
          margin-right: 7px;
          margin-left: 3px;
          margin-top: 1px;
        }
      }

      li.tag-item:hover {
        .fa-check {
          visibility: visible;
        }
      }

      li.tag-item:not(:hover) {
        background-color: white !important;

        .name {
          color: #444444 !important;
        }
      }

      li:last-child input {
        font-size: 12px;
        border: 0px;
        width: 100%;
        height: 28px;
        padding: 8px;
        margin: 0px;
        outline: none;
        color: #404040;
      }
    }
  }

  .tags:hover {
    background-color: #1976d2;
  }
}
