.quick-search {
  background-color: #0144a4;
  height: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);

  .title {
    float: left;
    width: 122px;
    padding: 13px;
    padding-left: 17px;
    color: #ded8ff;
    text-transform: uppercase;
    font-size: 11px;
  }

  input {
    padding-left: 30px;
    width: 320px;
    margin-left: 11px;
    height: 28px;
    margin-top: 6px;
  }

  .glyphicon-search {
    position: absolute;
    top: 13px;
    left: 131px;
    color: #aaaaaa;
  }

  .fa-times {
    position: absolute;
    top: 13px;
    left: 423px;
    color: $brand-primary-dark;
    cursor: pointer;
  }

  .results {
    position: absolute;
    font-size: 11px;
    top: 13px;
    color: whitesmoke;
    left: 471px;
    opacity: 0.9;
  }
}
