.quick-search {
  position: relative;
  margin-top: 20px;
  width: 40%;
  margin-left: 30%;

  input {
    padding-left: 30px;
  }

  .glyphicon-search {
    position: absolute;
    top: 10px;
    left: 8px;
    color: #aaaaaa;
  }

  .fa-times {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $brand-primary-dark;
  }
}
