.item-show {
  margin-top: 52px;
  padding-left: 80px;
  padding-right: 80px;

  .loading {
    margin-bottom: -42px;
    text-align: center;
  }

  .back {
    position: absolute;
    top: -26px;
    color: #aaaaaa;
  }

  .general, .social, .items-block, .contacts-block, .organizations-block, .notes-block {
    position: relative;
    margin-bottom: 36px;
    background-color: white;
    box-shadow: 0px 0px 10px #cccccc;
    padding: 12px;

    .actions {
      margin-top: 20px;
      text-align: right;

      .btn {
        margin-left: 12px;
      }
    }
  }

  .general {
    h1 {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    .activity-text {
      font-size: 12px;
      color: #888888;
      margin-left: 6px
    }

    .img-thumbnail {
      border-radius: 0px;
      padding: 0px;
      width: 100%;
    }

    .active {
      text-align: center;
    }

    .custom-dropzone {
      position: relative;
      cursor: pointer;

      .update-image, .upload-percentage, .upload-text {
        position: absolute;
        right: 0px;
        bottom: 0px;
        height: auto;
        padding: 4px;
        padding-left: 8px;
        padding-right: 8px;
        color: white;
        font-size: 12px;
        background-color: #1976d2;
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px;
        vertical-align: middle;
        font-weight: bold;
      }

      .update-image {
        opacity: 0.0;
      }

      .upload-percentage, .upload-text {
        opacity: 0.7;
      }
    }

    .custom-dropzone:hover {
      .update-image {
        opacity: 0.7;
        transition: opacity .4s cubic-bezier(.25,.8,.25, 1);
      }
    }

    .btn-group {
      position: absolute;
      right: 14px;
      top: 14px;
      opacity: 0.0;

      .btn:not(.dropdown-toggle) {
        line-height: 38px;
        padding: 0px 19px;
      }

      .btn.dropdown-toggle {
        line-height: 38px;
      }

      .btn.dropdown-toggle:focus, .btn.dropdown-toggle:active {
        background-color: #2d63b1;
      }
    }

    .tags, .fields {
      padding-left: 0px;
      margin-top: -2px;
      margin-bottom: 6px;
      list-style-type: none;

      .field, .tag {
        margin-right: 4px;
        background-color: #b3b3b3;
      }

      .tag {
        margin-right: 0px;
        margin-left: 0px;
        border-radius: 0px;
        cursor: pointer;
      }

      .tag.last {
        padding: 0px;

        .new-tag > span {
          background-color: white;
          color: #999999;
        }
      }

      .new-tag {
        display: inline;
        position: relative;

        > span {
          display: inline-block;
          padding-left: 5px;
          padding-top: 5px;
          padding-right: 5px;
          padding-bottom: 3px;
          vertical-align: -1px;
        }

        ul.tags-menu {
          position: absolute;
          left: 0px;
          top: 15px;
          text-align: left;
          background-color: white;
          color: #333333;
          font-weight: 400;
          width: 196px;
          padding-left: 0px;
          list-style-type: none;
          z-index: 2;
          border: 1px solid #dddddd;
          border-radius: 3px;
          -webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.15);
          -moz-box-shadow: 0 0px 12px rgba(0,0,0,0.15);
          box-shadow: 0 0px 12px rgba(0,0,0,0.15);

          li {
            padding: 0px;
            border-bottom: 0px;
          }

          li.tag-item {
            width: 100%;
            padding: 8px;
            border-bottom: 1px solid #dddddd;
            font-size: 12px;
            cursor: pointer;

            .name {
              display: block;
              float: left;
              width: 126px;
              overflow: hidden;
              padding-top: 1px;
              text-overflow: ellipsis;
              white-space: nowrap;
              line-height: 14px;
            }

            .fa-check {
              display: block;
              float: left;
              margin-right: 5px;
              margin-top: 2px;
            }

            .fa-remove {
              display: block;
              float: right;
              margin-top: 2px;
            }

            .color {
              display: block;
              float: left;
              vertical-align: middle;
              border-radius: 3px;
              width: 14px;
              height: 14px;
              margin-right: 7px;
              margin-left: 3px;
              margin-top: 1px;
            }
          }

          li:last-child input {
            font-size: 12px;
            border: 0px;
            width: 100%;
            height: 28px;
            padding: 8px;
            margin: 0px;
            outline: none;
            color: #404040;
          }

          li.tag-item:hover {
            background-color: whitesmoke;
          }
        }
      }
    }

    .tags {
      display: inline-block;
    }

    .tags:hover {
      .tag.last {
        .new-tag > span {
          background-color: #eeeeee;
        }
      }
    }

    .dates {
      font-size: 12px;
      font-weight: 400;
      float: left;
      margin-right: 10px;
    }

    .place {
      font-size: 12px;
    }

    .description {
      margin-top: 8px;
    }

    .row-contact-infos {
      font-size: 13px;
      margin-left: -10px;
      margin-right: -10px;

      h3 {
        font-size: 16px;
      }

      .col-md-4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .general:hover {
    .btn-group {
      transition: opacity .4s cubic-bezier(.25,.8,.25, 1);
      opacity: 0.8;
    }
  }

  .general.edit {
    .name {
      input {
        width: 49%;
      }

      input:last-child {
        margin-left: 2%;
      }

      input.full {
        width: 100%;
        margin-left: 0px;
      }
    }

    label {
      margin-top: 12px;
      margin-bottom: 2px;
    }

    input[type='checkbox'] {
      margin-left: 8px;
    }

    .website {
      label {
        margin-top: 12px;
      }

      input {
        display: block;
        width: 300px;
      }
    }

    .description {
      label {
        margin-top: 2px;
        margin-bottom: 0px;
      }

      textarea {
        width: 100%;
        margin-top: 2px;
        display: block;
        height: 100px;
      }
    }

    .dates {
      float: left;
      margin-right: 20px;
      font-size: 14px;
    }

    .place {
      font-size: 14px;

      input {
        display: block;
      }
    }

    .dates, .start-date, .end-date {
      float: left;
      margin-right: 20px;

      .date-field > a {
        font-size: 12px;
        vertical-align: -2px;
      }

      .date-field a.reset-value {
        top: 5px;
        left: 135px;
      }
    }

    .row-contact-infos {
      .address {
        .zip-code {
          width: 50px;
        }

        .city {
          width: 140px;
        }

        .country, .street {
          width: 190px;
        }
      }

      input {
        width: 76%;
      }
    }
  }

  .social {
    .fa {
      margin-left: 4px;
      margin-right: 6px;
      font-size: 18px;
      vertical-align: -1px;
    }

    .fa-facebook-square {
      color: #3b5998;
    }

    .fa-linkedin-square {
      color: #1985bc;
    }

    .fa-twitter-square {
      color: #1da1f2;
    }
  }

  .social.show {
    .facebook, .linkedin {
      margin-bottom: 10px;
    }

    .btn {
      opacity: 0;
      position: absolute;
      right: 14px;
      top: 14px;
      line-height: 38px;
      padding: 0px 19px;
    }
  }

  .social:hover {
    .btn {
      opacity: 0.8;
      transition: opacity .4s cubic-bezier(.25,.8,.25, 1);
    }
  }

  .social.edit {
    input {
      width: 86%;
      margin-bottom: 6px;
    }

    .actions {
      margin-top: 40px;
    }
  }

  .associations-block {
    h3 {
      margin-bottom: 14px;
      margin-top: 4px;
    }

    .association {
      margin-bottom: 4px;

      .association-inside {
        position: relative;
        overflow: hidden;
        box-shadow: none;
        transition: box-shadow .8s cubic-bezier(.25,.8,.25, 1);

        .img-thumbnail {
          height: 75px;
          float: left;
          margin: 6px;
          margin-right: 12px;
        }

        h4 {
          margin-top: 15px;
          margin-bottom: 1px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          a {
            //color: #696969;
          }
        }

        .dates {
          font-size: 11px;
          color: #444444;
        }

        .members {
          font-size: 12px;
          margin-top: 2px;

          .fa {
            font-size: 10px;
            margin-right: 4px;
            vertical-align: 1px;
            color: #666666;
          }
        }

        i.remove-icon {
          position: absolute;
          right: 6px;
          top: 6px;
          color: #aaaaaa;
          cursor: pointer;
          opacity: 0.0;
          transition: opacity .8s cubic-bezier(.25,.8,.25, 1);
        }
      }

      .association-inside:hover {
        box-shadow: 0px 0px 10px #dddddd;
        transition: box-shadow .8s cubic-bezier(.25,.8,.25, 1);

        i.remove-icon {
          opacity: 1.0;
          transition: opacity .8s cubic-bezier(.25,.8,.25, 1);
        }
      }
    }

    .select {
      margin-top: 16px;
    }
  }

  .notes-block {
    h3 {
      margin-bottom: 14px;
      margin-top: 4px;
    }

    textarea {
      width: 100%;
      height: 100px;
    }

    .actions {
      margin-top: 6px;
    }

    .note, .new-note {
      position: relative;
      margin-bottom: 14px;
      padding: 2px;
    }

    .note {
      .note-text {
        padding-left: 3px;
        padding-top: 3px;
      }

      .buttons {
        position: absolute;
        right: 4px;
        top: 2px;
        opacity: 0;

        button {
          margin-left: 2px;
        }
      }
    }

    .note:hover {
      .buttons {
        transition: opacity .4s cubic-bezier(.25,.8,.25, 1);
        opacity: 0.8;
      }
    }
  }
}
