<div class="container-fluid">
  <div class="row">
    <h2>Import de contacts</h2>

    <%= render 'table' %>

    <%= form_tag lab_contact_imports_path(@lab) do |f| %>
      <%= hidden_field_tag 'csv_data', @csv_data %>

      <%= submit_tag 'Importer' %>
    <% end %>
  </div>
</div>
