<p>
  Le CETIC accorde beaucoup d’importance à la protection et au respect de la vie
  privée de ses partenaires et des utilisateurs de la plateforme SitCom. Le CETIC
  s’engage à respecter la confidentialité des données à caractère personnel
  collectées qu’il est amené à traiter dans le cadre de ses activités, en tant
  que responsable du traitement, selon les modalités décrites ci-dessous.
</p>

<p>
  Cette page a pour objet de fournir aux personnes concernées par ces
  traitements les informations requises par la réglementation applicable et
  notamment par le Règlement (UE) 2016/679 du Parlement européen et du Conseil
  du 27 avril 2016 relatif à la protection des personnes physiques à l’égard du
  traitement des données à caractère personnel et à la libre circulation de ces
  données (règlement général sur la protection des données ou « RGPD »).
</p>

<h3>
  Responsable des données à caractère personnel
</h3>

<p>
  Le responsable du traitement des données à caractère personnel est Cetic
  Asbl N. d’entreprise : BE 0474 549 932. Le siège du responsable est sis à
  6041 Charleroi, Avenue Jean Mermoz n.28. Pour toute question relative à la
  protection des données à caractère personnel, veuillez adresser un courriel
  à l’adresse suivante <a href="mailto:info@cetic.be" target="_blank">info@cetic.be</a>.
</p>

<h3>
  Données collectées
</h3>

<h5>
  Données des utilisateurs
</h5>

<p>
  Le CETIC collecte les données des ‘Utilisateurs’ afin de mettre à leur
  disposition les services pour lesquels ils ont souscrit à la plateforme
  SitCom. Le caractère obligatoire ou facultatif des données renseignées
  (pour pouvoir finaliser l’inscription de l’Utilisateur et lui fournir les
  services de SitCom) est signalé lors de la collecte par un astérisque.
</p>

<h5>
  Données des contacts
</h5>

<p>
  Il s’agit de la liste des contacts qu'un membre peut télécharger ou gérer
   sur la plateforme SitCom et toutes les informations associées relatives à
   ces contacts (par exemple, adresses e-mail). Le CETIC, en aucun cas, peut
   utiliser, partager ou vendre les données encodées par un utilisateur sur
   la plateforme.
</p>

<h3>
  Finalités
</h3>

<p>
  Les données à caractère personnel collectées par le CETIC à l’occasion de
  la fourniture des services de la plateforme SitCom sont nécessaires à
  l’exécution des contrats conclus avec l’Utilisateur, ou pour permettre au
  CETIC de poursuivre ses intérêts légitimes dans le respect des droits de
  l’Utilisateur. (Voir les termes de vente et condition d’utilisation)
</p>

<h3>
  Durée de conservation des données
</h3>

<p>
  Pour satisfaire à ses obligations légales ou afin de disposer des éléments
  nécessaires pour faire valoir ses droits, le CETIC pourra archiver les
  données dans les conditions prévues par la réglementation. Ainsi, les
  données à caractère personnel collectées par SitCom relatives à l’identité
  et aux coordonnées de ses Utilisateurs sont archivées pendant une durée
  maximum de deux ans après la cessation des relations contractuelles. La
  cessation des relations contractuelles est entendue comme la résiliation
  exprès du contrat par l’Utilisateur ou la non-utilisation des services
  de SitCom pendant une durée de cinq ans.
</p>

<h3>
  Droit des Utilisateurs
</h3>

<p>
  La plateforme SitCom prévoit la possibilité de modifier toutes les
  données encodées au moment de l’inscription.
</p>

<p>
  Conformément à la réglementation, en vertu des articles 12-23 du RGPD,
  l’Utilisateur bénéficie des droits de
</p>

<ul>
  <li>Information et accès aux données à caractère personnel</li>
  <li>Rectification et effacement</li>
  <li>Opposition</li>
  <li>Limitations de traitement</li>
</ul>

<p>
  Le CETIC s’engage à donner suite aux demandes afin de permettre aux
  utilisateurs d’exercer leurs droits. Pour cela, il est possible de joindre
  le CETIC à l’adresse courriel :
  <a href="mailto:info@cetic.be" target="_blank">info@cetic.be</a>
</p>

<h3>
  Modification de la Politique de confidentialité
</h3>

<p>
  Le CETIC se réserve le droit de faire évoluer la présente Politique
  de confidentialité afin de se conformer aux modifications des lois et
  réglementations en vigueur. Les modifications apportées seront notifiées
  via notre site web ou par courriel, dans la mesure du possible, trente
  jours au moins avant leur entrée en vigueur.
</p>

<h3>
  Contact
</h3>

<p>
  Toute question concernant la Politique de confidentialité peut être
  adressée par courriel à <a href="mailto:info@cetic.be" target="_blank">info@cetic.be</a>
</p>
