<p>
  En souscrivant ou en utilisant la plateforme SitCom, l’Utilisateur déclare
  avoir lu et accepté sans réserve la version en vigueur de ces
  <strong>Conditions Générales d’Utilisation</strong>.
</p>

<h3>
  Gestion du compte utilisateur
</h3>

<p>
  L’utilisation de SitCom nécessite la création d’un compte en ligne.
  L’Utilisateur est responsable de la sincérité des informations qu’il fournit
  et s’engage à mettre à jour les informations le concernant. L’Utilisateur
  prend toute disposition utile pour maintenir la confidentialité de l’accès
  à son compte. En cas d’utilisation frauduleuse de son compte, l’Utilisateur
  s’engage à prévenir immédiatement le CETIC et à modifier sans délai son mot
  de passe d’accès. Le CETIC ne sera en aucun cas responsable des dommages
  matériels ou immatériels résultant d’une utilisation du compte par un tiers,
  avec ou sans l’autorisation de l’Utilisateur. Le CETIC protège l’intégrité,
  la confidentialité et la sécurité administrative, matérielle et technique
  des informations personnelles de l’Utilisateur selon la Politique de
  confidentialité.
</p>

<h3>
  Compte
</h3>

<p>
  Pour utiliser SitCom, vous devez:
</p>

<ul>
  <li>avoir au moins dix-huit (18) ans et être en mesure de conclure des contrats;</li>
  <li>compléter le processus d'enregistrement de compte;</li>
  <li>fournir des informations de contact et de facturation véridiques, complètes et à jour;</li>
  <li>prendre connaissance de ces Conditions Générales d’Utilisation</li>
</ul>

<h3>
  Protection des données personnelles concernant l’Utilisateur
</h3>

<p>
  Les informations, y compris les données personnelles, recueillies par le
  CETIC dans le cadre de sa relation commerciale avec l’Utilisateur font
  l’objet de traitements informatiques détaillés dans la Politique de
  confidentialité.
</p>

<h3>
  Services
</h3>

<p>
  Avec l’activation d’un compte utilisateur vous aurez accès aux différentes
  fonctionnalités disponibles sur la plateforme. Sitcom vous permet de
  centraliser et de gérer des contacts ainsi qu’un répertoire d’organisations,
  et de les mettre en lien avec des projets et des évènements. Vous pourrez
  joindre des descriptions, des notes privées ou publiques et des tags pour
  regrouper les informations. Vous pourrez organiser un mailing en reliant un
  compte Mailchimp et télécharger les données. Dans sa version gratuite vous
  aurez accès à la plateforme et vous pourrez encoder un nombre illimité de
  contacts et organisations, vous pourrez gérer jusqu’à deux projets et quatre
  évènements.  Avec un abonnement, proposé au prix de 240€ (HTVA) par an, vous
  aurez un accès illimité à la plateforme et l’activation de la fonctionnalité
  de mailing.
</p>

<h3>
  Conditions financières
</h3>

<p>
  Lorsque vous souscrivez à un abonnement annuel , vous acceptez une facturation
  récurrente, à compter de la date de votre inscription. La facturation a lieu à
  la fin du mois de la date à laquelle vous avez commencé votre forfait annuel.
  Les paiements sont dus à 30 jours.
</p>

<h3>
  Durée – Résiliation
</h3>

<p>
  Les présentes Conditions Générales d’Utilisation sont en vigueur pour une durée
  indéterminée. L'abonnement peut être suspendu à tout moment et vous pouvez à tout
  moment choisir de fermer définitivement votre compte. Dans ce cas une note de
  crédit sera émise pour les mois restants. En cas de non-respect, par l’Utilisateur,
  des présentes Conditions Générales d’Utilisation et des politiques de
  confidentialité de SitCom , le CETIC se réserve le droit de résilier son compte
  Utilisateur sous réserve du respect d’un préavis de 15 jours.
</p>

<h3>
  Modification des conditions d’utilisation, des politiques SitCom et de l’offre
</h3>

<p>
  Le CETIC peut être amené à modifier les présentes Conditions Générales d’Utilisation,
  sa politique de confidentialité ainsi que son offre. L’Utilisateur sera informé des
  modifications intervenues par mail et invité à accepter cette modification pour poursuivre
  l’exploitation de la plateforme SitCom.
</p>

<h3>
  Loi Applicable – Attribution de Compétence
</h3>

<p>
  Les relations contractuelles entre le CETIC et le client sont régis par les lois, arrêtés,
  décrets et règlements Belges en vigueur. Tout litige directement ou indirectement relatif
  aux relations contractuelles entre le client et le CETIC est de la compétence exclusive des
  Cours et Tribunaux de Charleroi.
</p>
