<div class="quick-search">
  <input type="search"
         class="form-control"
         placeholder="Filter on text, people or tag" />
  <i class="glyphicon glyphicon-search"></i>
  <i class="fa fa-times"></i>
</div>
