<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 pull-right" style="height: 400px;background-color: white">
      Recherche avancée
    </div>

    <div class="col-md-8">
      <%= render 'quick_search' %>

      <div class="contacts">

        <div class="contact">
          <div class="picture">
            <img class="img-thumbnail" src="//gravatar.com/avatar/06bd08d55ba6eb514afba6eab21af2af.png?s=34&d=retro" />
          </div>

          <div class="activity">
            <div class="activity-inside">&nbsp;
            </div>
          </div>

          <div class="social">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-linkedin-square"></i>
            <i class="fa fa-twitter-square"></i>
          </div>

          <div class="infos">
            <span class="name">
              Michael Hoste
            </span>
            <span class="companies">
              80LIMIT SPRL
            </span>
          </div>

          <ul class="skills">
            <li class="skill"><span class="label label-default">Développement</span></li>
            <li class="skill"><span class="label label-default">Développement web</span></li>
            <li class="skill"><span class="label label-default">Développement mobile</span></li>
          </ul>

          <div style="clear:both">
          </div>

          <div class="events">
            <div class="event">
              7 événements <i class="fa fa-caret-down"></i>
            </div>
            <div class="event">
              3 projets <i class="fa fa-caret-down"></i>
            </div>
          </div>

          <div style="clear:both">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
