<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 pull-right" style="height: 400px;background-color: white">
      Blah
    </div>

    <div class="col-md-8">
      <%= render 'quick_search' %>

      <div class="contacts">
        <div class="contact">
          <div class="picture">
          </div>

          <div class="header">
            <span class="name">
              Michael Hoste
            </span>
            <span class="companies">
              80LIMIT SPRL
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
