.container-contact {
  // common to index and show
  .contacts, .contact {
    .activity {
      position: absolute;
      top: -8px;
      right: -9px;
      width: 20px;
      height: 20px;
      padding: 5px;
      border: 1px solid $brand-primary-dark;
      background-color: white;
      @include border-radius(50%);

      .activity-inside {
        width: 8px;
        height: 8px;
        background-color: white;
        @include border-radius(50%);
      }
    }

    .activity.active {
      .activity-inside {
        background-color: $brand-primary-dark;
      }
    }

    ul.fields {
      height: 14px;
      list-style-type: none;
      padding-left: 0px;

      .field {
        float: left;
        margin-right: 4px;
      }
    }
  }

  // only index
  .contacts {
    margin-top: 40px;

    .loading {
      text-align: center;
      margin-top: -16px;
      margin-bottom: 22px;
    }

    .blank-slate {
      text-align: center;
    }

    .contact-item {
      position: relative;
      margin-bottom: 36px;
      background-color: white;
      width: 700px;
      left: -350px;
      margin-left: 50%;
      box-shadow: 0px 0px 10px #cccccc;

      .picture {
        position: absolute;
        left: -17px;
        top: -13px;

        img {
          width: 56px;
          height: 56px;
        }
      }

      .social {
        position: absolute;
        right: 0px;
        top: 16px;
        width: 22px;
        line-height: 16px;

        .fa {
          font-size: 20px;
          color: #666666;
        }
      }

      .infos {
        margin-left: 48px;
        margin-top: 5px;

        .name {
          font-size: 22px;
        }

        .organizations {
          font-size: 10px;
          margin-left: 4px;
          font-weight: 300;
        }
      }

      .fields {
        margin-left: 48px;
      }

      .events-and-projects {
        margin-left: 48px;
        margin-top: 4px;

        .events, .projects {
          float: left;
          border: 1px solid #cccccc;
          font-size: 10px;
          margin-right: 4px;
          padding: .2em .6em .3em;
          font-size: 75%;
          margin-bottom: 4px;
        }
      }
    }
  }

  // only show and edit
  .contact {
    margin-top: 40px;

    .loading {
      margin-bottom: -42px;
      text-align: center;
    }

    .back {
      position: absolute;
      top: -26px;
    }

    .general, .items-block, .contacts-block, .social {
      position: relative;
      margin-bottom: 36px;
      background-color: white;
      width: 700px;
      left: -350px;
      margin-left: 50%;
      box-shadow: 0px 0px 10px #cccccc;
      padding: 12px;

      .btn-edit {
        position: absolute;
        right: 18px;
        top: 15px;
        padding: 8px;
        height: auto;
        font-size: 10px;
        letter-spacing: 2.4px;
        z-index: 1;
      }
    }

    .general.edit, .social.edit {
      .actions {
        margin-top: 20px;
        text-align: right;

        button {
          margin-left: 8px;
          padding: 13px;
          height: 43px;
          letter-spacing: 3px;
        }
      }
    }

    .general {
      .picture {
        img {
          height: 130px;
          width: 130px;
          padding: 0px;
        }
      }

      h1 {
        margin-top: 10px;
        margin-bottom: 0px;
      }

      .organization {
        font-size: 12px;
        color: #555555;
      }

      .row-contact-infos {
        font-size: 12px;

        .col-md-4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .general.edit {
      .first-name, .last-name {
        width: 48%;
      }

      .first-name {
        margin-right: 4%;
      }

      .address {
        .street, .country {
          width: 180px;
        }

        .zip-code {
          width: 50px;
        }

        .city {
          width: 130px;
        }
      }
    }

    .social {
      .facebook, .linkedin, .twitter {
        i {
          margin-right: 8px;
        }
      }
    }

    .social.edit {
      input {
        width: 300px;
      }
    }
  }
}
