<tr>
  <td><%= lab.name %></td>

  <td class="actions">
    <%= link_to fa('edit'), edit_admin_lab_path(lab), :class => 'btn btn-xs btn-default' %>
    <%= link_to fa('remove'), admin_lab_path(lab), :class => 'btn btn-xs btn-danger', :data => { :confirm => "Supprimer ce lab ?" }, :method => :delete %>
  </td>
</tr>
