<div class="container container-main">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Labs</li>
      </ol>

      <%= link_to 'Ajouter un lab', new_admin_lab_path, :class => 'btn btn-primary pull-right btn-new' %>

      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Expertises</th>
            <th>Champs personnalisés</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render @labs %>
        </tbody>
      </table>
    </div>
  </div>
</div>
