.container-project {
  .col-projects {
    padding-left: 120px;
    padding-right: 120px;
  }

  // common to index and show
  .projects, .project {

  }

  // only index
  .projects {
    margin-top: 40px;

    .loading {
      text-align: center;
      margin-top: -16px;
      margin-bottom: 22px;
    }

    .blank-slate {
      text-align: center;
    }

    .project {
      position: relative;
      height: 80px;
      margin-bottom: 36px;
      background-color: white;
      box-shadow: 0px 0px 10px #cccccc;

      .picture {
        position: absolute;
        left: -17px;
        top: -13px;

        img {
          width: 56px;
          height: 56px;
        }
      }

      .infos {
        margin-left: 48px;
        margin-top: 5px;

        .name {
          font-size: 22px;
        }

        .contacts {
          font-size: 10px;
          margin-left: 4px;
          font-weight: 300;
        }
      }
    }
  }

  // only show and edit
  .project {
    margin-top: 40px;

    .loading {
      margin-bottom: -42px;
      text-align: center;
    }

    .back {
      position: absolute;
      top: -26px;
    }

    .general, .items-block, .contacts-block, .social {
      position: relative;
      margin-bottom: 36px;
      background-color: white;
      box-shadow: 0px 0px 10px #cccccc;
      padding: 12px;

      .btn-edit, .btn-delete {
        position: absolute;
        right: 40px;
        top: 15px;
        padding: 8px;
        height: auto;
        font-size: 10px;
        letter-spacing: 2.4px;
        z-index: 1;
      }

      .btn-delete {
        right: 10px
      }
    }

    .general.edit, .social.edit {
      .actions {
        margin-top: 20px;
        text-align: right;

        button {
          margin-left: 8px;
          padding: 13px;
          height: 43px;
          letter-spacing: 3px;
        }
      }
    }

    .general {
      h1 {
        margin-top: 10px;
        margin-bottom: 0px;
      }

      .row-project-infos {
        font-size: 12px;

        .col-md-4 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .general.edit {
      .name {
        width: 48%;
      }
    }

  }
}
