[Unit]
Description=sidekiq-websockets
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/deploy/apps/sitcom/current
ExecStart=/bin/bash -lc '/home/deploy/.rbenv/shims/bundle exec sidekiq -e production -c 2 -q websockets'
ExecStartPost=/bin/bash -lc '/bin/echo $MAINPID > /home/deploy/apps/sitcom/shared/tmp/pids/sidekiq-websockets.pid'
ExecReload=/usr/bin/kill -TSTP $MAINPID

Environment=MALLOC_ARENA_MAX=2

RestartSec=1
Restart=on-failure

StandardOutput=syslog
StandardError=syslog

SyslogIdentifier=sidekiq-websockets

[Install]
WantedBy=default.target
