/*
 *= require vendor
 *= require_self
 */

$brand-primary: #aaaaaa;  // #3db7e4
$brand-primary-dark: darken($brand-primary, 12%);

$secondary: #e17000; // not bootstrap

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'select2';
@import 'select2-bootstrap';

@import 'shared/global';
@import 'shared/devise';
@import 'shared/mixins';
@import 'shared/navbar';
@import 'shared/admin';
@import 'shared/quick_search';

@import 'contacts/index';

@import 'admin/users/index';
@import 'admin/users/form';
@import 'admin/labs/index';
@import 'admin/labs/form';
