<div class="container container-main">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li class="active">Utilisateurs</li>
      </ol>

      <%= link_to 'Ajouter un utilisateur', new_admin_user_path, :class => 'btn btn-primary pull-right btn-new' %>

      <table class="table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Email</th>
            <th class="center">Admin</th>
            <th class="number">Labs</th>
            <th>Dernière connexion</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>

        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
