<% content_for :title, "Connexion" %>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 logo-container">
      <%= image_tag 'logo.svg' %>
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 well panel">
      <h1>Labs</h1>

      <% if @labs.any? %>
        <ul>
          <% @labs.each do |lab| %>
            <li>
              <%= link_to "&bull; ".html_safe + lab.name, lab_path(lab) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="blank-slate">
          <p>Aucun lab n'est lié à votre compte.</p>
          <p>Contactez votre administrateur si vous pensez que ce n'est pas normal.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
